# Dependencies
node_modules
.pnp
.pnp.js

# Build
.next
out
build

# Database
data/

# Environment
.env*
!.env.example

# IDE
.idea
.vscode
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Git
.git
.gitignore

# Misc
README.md
*.md
.dockerignore
docker-compose.yml
